In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv('istanbul.csv')
data = data.apply(lambda x: x.str.replace(r'0 \(Yeni\)', '0', regex=True) if x.dtype == "object" else x)
data = data.apply(lambda x: x.str.replace(r'Ve Üzeri', '', regex=True) if x.dtype == "object" else x)
sütunlar = [
    'Yapı Durumu', 'Krediye Uygunluk', 'Isıtma Tipi', 
    'Site İçerisinde', 'Kullanım Durumu', 'Yatırıma Uygunluk', 
    'Banyo Sayısı', 'WC Sayısı', 'Eşya Durumu', 'Tapu Durumu', 
    'Balkon Sayısı', 'Tipi', 'Unnamed: 0'
]       
data.drop(columns=sütunlar, inplace=True, errors='ignore')
data

,Fiyat,Oda Sayısı,Bulunduğu Kat,Brüt Metrekare,Binanın Yaşı,Binanın Kat Sayısı,Sehir,Ilce,Mahalle
0,2950000,3,1,85,21,4,İstanbul,Adalar,Heybeliada Mahallesi
1,9450000,6,2,170,21,3,İstanbul,Adalar,Maden Mahallesi
2,3550000,3,1,85,21,3,İstanbul,Adalar,Heybeliada Mahallesi
3,15300000,6,6,250,21,6,İstanbul,Adalar,Burgazada Mahallesi
4,13000000,5,2,230,21,3,İstanbul,Adalar,Heybeliada Mahallesi
...,...,...,...,...,...,...,...,...,...
25903,3900000,3,1,95,0,5,İstanbul,Zeytinburnu,Veliefendi Mahallesi
25904,8000000,7,5,250,21,5,İstanbul,Zeytinburnu,Beştelsiz Mahallesi
25905,4100000,3,3,100,5-10,5,İstanbul,Zeytinburnu,Nuripaşa Mahallesi
25906,5000000,7,5,250,21,5,İstanbul,Zeytinburnu,Beştelsiz Mahallesi
25907,3400000,3,3,130,0,3,İstanbul,Zeytinburnu,Beştelsiz Mahallesi

In [5]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

categorical_cols = ['Sehir', 'Ilce', 'Mahalle']
column_transformer = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(), categorical_cols),
        ('scaler', StandardScaler(), numerical_cols)
    ],
    remainder='passthrough'  # Diğer sütunları olduğu gibi bırak
)
X_transformed = column_transformer.fit_transform(data)
data.head

NameError: name 'numerical_cols' is not defined